body {
  font-family: "Segoe UI", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@keyframes fadeUp {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}
.text-center {
  text-align: center;
}
.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.btn-close {
  position: absolute;
  right: 150px;
  background-color: red;
  color: black;
  font-size: 30px;
  padding: 10px;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.j-between {
  justify-content: between;
}
.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}
.btn {
  padding: 12px 18px;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn.btn-primary {
  background-color: #0d6efd;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.space-1 {
  flex-basis: 50%;
}
.w-2 {
  width: 260px;
}
